@keyframes noise {
  0% { transform: translate3d(1%,-1%,0) }
  10% { transform: translate3d(-5%,-2%,0) }
  20% { transform: translate3d(10%,5%,0) }
  30% { transform: translate3d(5%,-11%,0) }
  40% { transform: translate3d(-12%,-5%,0) }
  50% { transform: translate3d(10%,9%,0) }
  60% { transform: translate3d(15%,0,0) }
  70% { transform: translate3d(-10%,8%,0) }
  80% { transform: translate3d(10%,2%,0) }
  90% { transform: translate3d(1%,5%,0) }
  100% { transform: translate3d(0,8%,0) }
}

.noise {
  position: fixed;

  background: url('/images/noise.png');
  opacity: 1;

  width: 200%;
  height: 200%;

  left: -50%;
  top: -50%;

  pointer-events: none;
  will-change: auto;
  mix-blend-mode: multiply;
  z-index: 10;

  animation: noise 1.2s steps(3) infinite both;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  gap: 0;

  &:has(.soldout) {
    .button {
      cursor: not-allowed !important;
      opacity: 0.5s !important;
    }
  }

}
.available,
.soldout,
.button {
  color: var(--color-text);
  font-size: 15px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-transform: uppercase;
  padding: 12px 18px;
  background-color: var(--color-accent);
  transition: background-color 0.5s cubic-bezier(0.33, 1, 0.68, 1);
  &.soldout {
    background-color: red;
    color: white;
    :hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
  &.soldout {
    background-color: green;
    color: white;
    :hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  @media(hover:hover) {
    &:hover {
      text-decoration: none;
      background-color: var(--color-hover);
    }
  }
}

.locked {
  overflow: hidden;
}
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
  &.is-scroll {
    overflow: scroll;
  }
}

.slider-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

// Page header
html{
  font-size: 16px;
}

html, body{
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  font-family: 'helvetica neue', helvetica, sans-serif;
  overflow: hidden;
}

a{
  color: #fff;
  text-decoration: none;
}

.scroll{
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(#fff, 0.5);
  font-family: 'font-2';
  font-size: calc(0.5rem + 0.35vw);
  z-index: 10;
}
header {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;


}
.logo{
  position: absolute;
  top: 10px;
  left: 24px;
  padding: 0;
  margin: 0;
  z-index: 10;
  width: 120px;
  
  img{
    display: block;
    width: 100%;
  }
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav{
  position: absolute;
  top: 2rem;
  z-index: 10;
  
  &--left{
    left: 1rem;
  }
  
  &--right{
    right: 1rem;
  }
  
  ul{
    display: flex;
    align-items: center;
    height: 1rem;
  }
  
  li{
    display: block;
    margin: 0 1rem;
    padding: 0;
  }
  
  a{
    position: relative;
    display: flex;
    align-items: center;
    font-size: calc(0.5rem + 0.35vw);
    font-family: 'helvetica neue', helvetica, sans-serif;
    
    span{
      position: relative;
      
      &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.35rem;
        width: 100%;
        height: 1px;
        background-color: rgba(#fff, 0.25);
        transition: transform .75s ease;
        transform-origin: right;
        transform: scaleX(0);
      }
    }
    
    &:hover,
    &.is-active {

      span{
        
        &:before{
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

.vert-text{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 15rem;
  display: flex;
  align-items: center;
  z-index: 10;
  
  span{
    display: block;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1;
    transform: rotate(-90deg) translateY(15rem);
    transform-origin: bottom left;
    font-size: 1.35rem;
  }
}

.cart-total{
  display: block;
  height: 2rem;
  width: 2rem;
  background-color: rgba(#fff, 0.25);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  margin-left: 1rem;
}

.heading {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 42px 0;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}

.heading h2 {
  font-size: 7vmin;
  color: white;
  text-transform: uppercase;
}

.slider{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  &__text{
    position: absolute;
    bottom: calc(2rem + 3vw);
    left: calc(2rem + 3vw);
    z-index: 10;
    font-size: calc(1rem + 4vw);
    text-transform: uppercase;
    transform-origin: top;
    line-height: 1.075;
    color: #fff;
    font-weight: 500;
    
    &-line{
      overflow: hidden;
    }
  }
  
  &__inner{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  &__nav{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  &-bullet{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    
    &__text{
      color: #fff;
      font-size: 0.65rem;
      margin-right: 1rem;
    }
    
    &__line{
      background-color: #fff;
      height: 1px;
      width: 1rem;
    }
  }
  
  canvas{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.slide{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  
  &__content{  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  &__img{
    position: relative;
    width: 25vw;
    height: 70vh;
    padding: 0;
    margin: 0;
    min-width: 12.5rem;
    transform-origin: top;
    
    &:first-child{
      top: -1.5rem;
    }
    
    &:last-child{
      bottom: -1.5rem;
    }
    
    img{
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// marquee
.banner-marquee {
  padding: 42px 0 0 0;
  border-top: solid 1px white;
}
.banner-marquee .imgWrapper {
  width: 100%;
  height: 45vh;
  overflow:hidden;
  margin: 0 -50px;
  position: relative;
  border-bottom: solid 1px white;
  margin-bottom: 42px;
  img {
    object-fit: none;
    object-position: top;
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
  }
}

.text-marquee {
  position: relative;
  display:flex; 
  align-items:center;
  overflow-x: hidden;
  border-bottom: solid 1px white;
  padding-bottom: 42px;
}

.text-single {
  position: relative;
  white-space: nowrap;
  padding: 0;
    margin: 0;
  will-change: transform;
}

.text {
  padding: 0;
  font-size: 6.4rem;
  color: white;
  display: inline-block;
  margin-right: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
}


// footer {

footer {
  height: 60vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  video {
    position: absolute;
    width: 100%;
    left: 0;
    transform: scale(1.5) translateY(-15%);
  }
}